/*
http://software.naver.com/software/summary.nhn?softwareId=GWS_002360&categoryId=I0000000
*/
	@font-face{font-family:'SangSangFlowerRoad'; src:url('fonts/SangSangFlowerRoad.woff')}
	@font-face{font-family:'SangSangFlowerRoad'; src:url('fonts/SangSangFlowerRoad.eot')}

/*
http://software.naver.com/software/summary.nhn?softwareId=GWS_002403&categoryId=I0000000
*/
	@font-face{font-family:'wiggle-hangeul'; src:url('fonts/wiggle-hangeul.ttf')}
